<footer class="bg-white sticky-footer">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2" style="padding-bottom: 15px;">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-end">
            <a class="btn btn-dark btn-circle ms-1" role="button" href="/about"><i class="fas fa-info-circle text-white"></i></a>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-start">
            <a class="btn btn-dark btn-circle ms-1" role="button" href="https://github.com/electricalgorithm/compfilex/"><i class="fab fa-github text-white"></i></a>
        </div>
    </div>
    <div class="text-center my-auto copyright">
        <div class="row">
            <div class="col" style="padding-bottom: 5px;"><span>Copyright © TUBITAK 2209-A Composite Filament Extruder <%=current_year%></span></div>
        </div>
        <div class="row">
            <div class="col"><span>Designed by Gökhan Koçmarlı via Bootstrap Studio</span></div>
        </div>
    </div>
</footer>