<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand text-capitalize text-start" href="#" style="font-family: Archivo, sans-serif;font-size: 25px;font-weight: bold;transform: rotate(-12deg) scale(1.19);color: var(--bs-teal);">
                    <%=site_name%>
                </a>
                <a class="navbar-brand text-lowercase text-start" href="#" style="font-family: Nunito, sans-serif;font-size: 14px;transform: rotate(0deg) scale(1);color: var(--bs-dark);">
                    <%=site_description%>
                </a>
            </div>
        </nav>
    </div>
</nav>