<table class="table my-0" id="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Scaling Ratio</th>
            <th>Filament Diameter</th>
            <th>Filament Length</th>
            <th>SM1 Speed</th>
            <th>SM2 Speed</th>
            <th>SM Duration</th>
            <th>MM Speed</th>
            <th>MM Duration</th>
            <th>Mixer Temp.</th>
            <th>EM Speed</th>
            <th>EM Duration</th>
            <th>Extruder Temp.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TE_F1</td>
            <td>1:3.2</td>
            <td>1.25</td>
            <td>500</td>
            <td>5</td>
            <td>16</td>
            <td>5:00</td>
            <td>20</td>
            <td>10:00</td>
            <td>280</td>
            <td>20</td>
            <td>15:00</td>
            <td>245</td>
        </tr>
        <tr>
            <td>TE_F2</td>
            <td>2:3</td>
            <td>1.25</td>
            <td>1000</td>
            <td>10</td>
            <td>15</td>
            <td>1:00</td>
            <td>35</td>
            <td>20:00</td>
            <td>350</td>
            <td>20</td>
            <td>15:00</td>
            <td>300</td>
        </tr>
        <tr>
            <td>TE_F3</td>
            <td>1:1</td>
            <td>2.50</td>
            <td>100</td>
            <td>10</td>
            <td>10</td>
            <td>5:00</td>
            <td>20</td>
            <td>10:00</td>
            <td>280</td>
            <td>20</td>
            <td>10:00</td>
            <td>245</td>
        </tr>
    </tbody>
</table>