<!DOCTYPE html>
<html>

<%- include("./partials/head.ejs") %>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background: url(&quot;assets/img/new-data-services-CoymjeSkavc-unsplash.jpg&quot;) top / cover no-repeat;"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account</h4>
                                <p id="regInfoText"></p>
                            </div>
                            <form class="user" id="registerForm">
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="FirstNameInput" placeholder="First Name" name="firstName" required=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="LastNameInput" placeholder="Last Name" name="lastName" required=""></div>
                                </div>
                                <div class="mb-3"><input class="form-control form-control-user" type="email" id="emailInput" aria-describedby="emailHelp" placeholder="Email Address" name="email" required=""></div>
                                <div class="mb-3"><input class="form-control form-control-user" type="username" id="userNameInput" placeholder="Username" name="userName" required=""></div>
                                <div class="row mb-3">
                                    <div class="col-sm-12 mb-12 mb-sm-0"><input class="form-control form-control-user" type="password" id="passwordInput" placeholder="Password" name="password" required=""></div>
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit" id="registerButton">Let me make some filament!</button>
                                <hr>
                            </form>
                            <div class="text-center"></div>
                            <div class="text-center"><a class="small" href="/login">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer_2.ejs") %>

    
    <script>
        registerForm.onsubmit = async (e) => {
            e.preventDefault();
            var form = document.querySelector("#registerForm");
    
            data = {
                firstName: form.querySelector("input[name=firstName]").value,
                lastName: form.querySelector("input[name=lastName]").value,
                userName: form.querySelector('input[name="userName"]').value,
                passwordHash: form.querySelector('input[name="password"]').value,
                email: form.querySelector('input[name="email"]').value
            }
    
            let response = await fetch('/user?type=register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
            })
    
            let res = await response.json()
            if (res["status"] == "OK") {
                document.querySelector("#regInfoText").innerHTML = "Registration succefully completed. Redirecting you to login page.";
                document.querySelector("#registerForm").querySelector('input[name="userName"]').value = ""
                document.querySelector("#registerForm").querySelector('input[name="password"]').value = ""
                document.querySelector("#registerForm").querySelector('input[name="email"]').value = ""
                setTimeout(window.location.replace("/login"), 1500)
            } else {
                document.querySelector("#regInfoText").innerHTML = "Something bad happend! Please contact service provider.";
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>